@page "/confirmTxn"
@inject IArticleManager articleManager
@inject IStringLocalizer<ConfirmTxn> localizer
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h3>@localizer["totalAmount"]: $@order.OrderTotalAmt</h3>

@if (order.OrderDiscountAmt != 0)
{
    <h3>@localizer["adjustedTotalAmount"]: @order.OrderNetAmt</h3>
}
<br>

<h4>@localizer["depositeAmt"]</h4>
<input placeholder="Deposit" type=number step=0.01 @bind-value:event="oninput" @bind-value="@paymentAmt" />

<button @onclick="ConfirmedOrder" class="btn btn-primary">@localizer["confirm"]</button>
<button @onclick="Cancel" class="btn btn-secondary">@localizer["back"]</button>


@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    Article article = new Article();
    [Parameter] public Order order { get; set; }
    String testing = "Default String";

    public double paymentAmt { get; set; }

    protected override void OnInitialized()
    {
        paymentAmt = order.OrderNetAmt;
    }

    void ConfirmedOrder()
    {
        order.OrderDiscountAmt = paymentAmt;
        BlazoredModal.Close(ModalResult.Ok(order));
    }

    void Cancel()
    {
        BlazoredModal.Cancel();
    }
}