@page "/deleteProduct"
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<h3>@localizer["productName"]: @product.ProductName</h3>
<h3>@localizer["productPrice"]: @product.ProductPrice</h3>

<button @onclick="ConfirmedDelete" class="btn btn-primary">@localizer["confirm"]</button>
<button @onclick="Cancel" class="btn btn-secondary">@localizer["cancel"]</button>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public Product product { get; set; }
    private BlazorCRUD1.I18nText.localizer localizer = new I18nText.localizer();
    public double paymentAmt { get; set; }

    protected override async Task OnInitializedAsync()
    {
        localizer = await I18nText.GetTextTableAsync<I18nText.localizer>(this);
    }

    void ConfirmedDelete()
    {
        BlazoredModal.Close(ModalResult.Ok(product));
    }

    void Cancel()
    {
        BlazoredModal.Cancel();
    }
}